<html>
  <head>
    <style type="text/css">
      html{
        background: repeat-y #d5dde5;
        font-size: 100%;
        font-family: Comic Sans, sans-serif;
        }
      #label{
        font-size: 80%
        }
      a{
        text-decoration: none;
        color: #4169E1;
        }
    </style>
    <title>Check your friends Online</title>
  </head>
  <body>
    <center>
      <h1 style='text-align: center'> Check your friends Online</h1>
      <h3 align="center" >На этом сайте ты можешь написать id любого аккаунта от vk.com и мы покажем тебе кто из его друзей онлайн!</h3>
      <p id="label" align="middle">Вводи id любого человека из вк. Id - это все справа от последнего слэша на его страничке.</p>
    </center>

    {% if not logged_in %}
      <center>
        <p id="label" align="middle"> Если войдешь - узнаешь с телефона они сидят, или с компьютера!</p>
        <form action="/index" method="GET">
          <input name="text">
          <input name=_csrf_token type=hidden value="{{ csrf_token }}">
          <input type="submit" value="Найти без регистрации">
        </form>
        <a href={{ auth_url }}><button>Войти</button></a>
      </center>
      <br>
    {% else %}
      <center>
        <form action="/index" method="GET">
          <input name="text">
          <input type="submit" value="Найти">
        </form>
        <a href={{ logout_url }}><button>Выйти</button></a>
      </center>
    <br>
    {% endif %}

    {{ test }}

    {% if error %}
      <p>{{ error }}</p>
    {% else %}
      <fieldset align="left" >
        <h2 id="h2">Друзья онлайн:</h2>
        {% for friend in online_friends %}
          <p>
            <a href="https://vk.com/id{{ friend['id'] }}">{{ friend['first_name'] }} {{ friend['last_name'] }}</a>
          </p>
        {% endfor %}
      </fieldset>
    {% endif %}
  </body>
</html>
